Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as &lt;WORKER_NAME&gt;.
Ans:select firstname as WORKER_NAME from worker_basedata;

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.
ans:select distinct(department) from worker_data;

Q-3. Write an SQL query to show the last 5 record from a table.
Ans:select * from worker_data order by workerid desc limit 5;